
# IDE and R-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto
.quarto
_extensions/
_freeze/
_publish.yml
**/.ipynb_checkpoints/

# Rendered Outputs (Ignore all PDF and HTML files)
*.pdf
*.html
*.pptx

# Cache folders and files
*cache*
*code_files*
*_files*
literature

# Miscellaneous
.DS_Store
Thumbs.db

